In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
data = pd.read_csv("Hospital_Inpatient_Discharges__SPARCS_De-Identified___2015.csv")

C:\Users\sahai\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data.shape

(2346760, 37)

In [4]:
data.columns

Index(['Health Service Area', 'Hospital County',
       'Operating Certificate Number', 'Facility Id', 'Facility Name',
       'Age Group', 'Zip Code - 3 digits', 'Gender', 'Race', 'Ethnicity',
       'Length of Stay', 'Type of Admission', 'Patient Disposition',
       'Discharge Year', 'CCS Diagnosis Code', 'CCS Diagnosis Description',
       'CCS Procedure Code', 'CCS Procedure Description', 'APR DRG Code',
       'APR DRG Description', 'APR MDC Code', 'APR MDC Description',
       'APR Severity of Illness Code', 'APR Severity of Illness Description',
       'APR Risk of Mortality', 'APR Medical Surgical Description',
       'Payment Typology 1', 'Payment Typology 2', 'Payment Typology 3',
       'Attending Provider License Number',
       'Operating Provider License Number', 'Other Provider License Number',
       'Birth Weight', 'Abortion Edit Indicator',
       'Emergency Department Indicator', 'Total Charges', 'Total Costs'],
      dtype='object')

In [5]:
data.head()

,Health Service Area,Hospital County,Operating Certificate Number,Facility Id,Facility Name,Age Group,Zip Code - 3 digits,Gender,Race,Ethnicity,...,Payment Typology 2,Payment Typology 3,Attending Provider License Number,Operating Provider License Number,Other Provider License Number,Birth Weight,Abortion Edit Indicator,Emergency Department Indicator,Total Charges,Total Costs
0,Western NY,Cattaraugus,401001.0,66.0,Olean General Hospital,50 to 69,147,F,White,Not Span/Hispanic,...,NaN,NaN,267162.0,NaN,NaN,0,N,Y,$5620.00,$4561.28
1,Western NY,Cattaraugus,401001.0,66.0,Olean General Hospital,18 to 29,147,F,White,Not Span/Hispanic,...,NaN,NaN,275408.0,NaN,NaN,0,N,Y,$7404.18,$6933.94
2,Western NY,Cattaraugus,401001.0,66.0,Olean General Hospital,30 to 49,147,M,White,Not Span/Hispanic,...,NaN,NaN,267162.0,NaN,NaN,0,N,Y,$7931.28,$7154.85
3,Western NY,Cattaraugus,401001.0,66.0,Olean General Hospital,50 to 69,147,F,White,Not Span/Hispanic,...,NaN,NaN,271326.0,NaN,NaN,0,N,Y,$11304.44,$4584.11
4,Western NY,Chautauqua,602001.0,103.0,Woman's Christian Association,50 to 69,147,M,White,Not Span/Hispanic,...,NaN,NaN,243034.0,NaN,NaN,0,N,Y,$8330.50,$4361.74

In [6]:
data.dtypes

Health Service Area                     object
Hospital County                         object
Operating Certificate Number           float64
Facility Id                            float64
Facility Name                           object
Age Group                               object
Zip Code - 3 digits                     object
Gender                                  object
Race                                    object
Ethnicity                               object
Length of Stay                          object
Type of Admission                       object
Patient Disposition                     object
Discharge Year                           int64
CCS Diagnosis Code                       int64
CCS Diagnosis Description               object
CCS Procedure Code                       int64
CCS Procedure Description               object
APR DRG Code                             int64
APR DRG Description                     object
APR MDC Code                             int64
APR MDC Description                     object
APR Severity of Illness Code             int64
APR Severity of Illness Description     object
APR Risk of Mortality                   object
APR Medical Surgical Description        object
Payment Typology 1                      object
Payment Typology 2                      object
Payment Typology 3                      object
Attending Provider License Number      float64
Operating Provider License Number      float64
Other Provider License Number          float64
Birth Weight                             int64
Abortion Edit Indicator                 object
Emergency Department Indicator          object
Total Charges                           object
Total Costs                             object
dtype: object

In [8]:
# the column Length of Stay has to be numeric but instead is stored as an object. 
# one of the values in Length of Stay is 120+ so I need to remove the plus sign
# total charges and total costs variables have a dollar sign - these need to be removed before i can convert the column 
# to numeric
data.columns= [each.replace(" ","_") for each in data.columns]

In [10]:
data.columns
# removing dollar signs from cost columns

data.Total_Charges = [each.replace("$","") for each in data.Total_Charges]

In [11]:
data.tail()

,Health_Service_Area,Hospital_County,Operating_Certificate_Number,Facility_Id,Facility_Name,Age_Group,Zip_Code_-_3_digits,Gender,Race,Ethnicity,...,Payment_Typology_2,Payment_Typology_3,Attending_Provider_License_Number,Operating_Provider_License_Number,Other_Provider_License_Number,Birth_Weight,Abortion_Edit_Indicator,Emergency_Department_Indicator,Total_Charges,Total_Costs
2346755,Long Island,Suffolk,5157003.0,943.0,St Catherine of Siena Hospital,70 or Older,117,M,White,Not Span/Hispanic,...,Medicare,Private Health Insurance,201565.0,NaN,NaN,0,N,Y,43494.00,$6637.09
2346756,Long Island,Suffolk,5157003.0,943.0,St Catherine of Siena Hospital,50 to 69,117,M,White,Not Span/Hispanic,...,NaN,NaN,251080.0,272191.0,NaN,0,N,Y,16662.00,$3236.18
2346757,Long Island,Suffolk,5157003.0,943.0,St Catherine of Siena Hospital,50 to 69,119,M,White,Unknown,...,NaN,NaN,198807.0,NaN,NaN,0,N,N,7142.00,$1862.39
2346758,Long Island,Suffolk,5157003.0,943.0,St Catherine of Siena Hospital,70 or Older,117,M,White,Not Span/Hispanic,...,Medicare,Blue Cross/Blue Shield,268633.0,NaN,NaN,0,N,Y,13070.00,$2744.13
2346759,Long Island,Suffolk,5157003.0,943.0,St Catherine of Siena Hospital,30 to 49,117,M,White,Spanish/Hispanic,...,NaN,NaN,269959.0,NaN,NaN,0,N,Y,14637.00,$2128.89

In [13]:
data.Total_Costs = [each.replace("$","") for each in data.Total_Costs]

#Length of Stay:

data.Length_of_Stay = [each == 120 if (each == "120 +") else each for each in data.Length_of_Stay]

In [16]:
data.Total_Charges = data.Total_Charges.astype('float')

In [17]:
data["Total_Costs"] = data["Total_Costs"].astype('float')
data.Length_of_Stay = data.Length_of_Stay.astype('int')

In [19]:
data.dtypes

Health_Service_Area                     object
Hospital_County                         object
Operating_Certificate_Number           float64
Facility_Id                            float64
Facility_Name                           object
Age_Group                               object
Zip_Code_-_3_digits                     object
Gender                                  object
Race                                    object
Ethnicity                               object
Length_of_Stay                           int32
Type_of_Admission                       object
Patient_Disposition                     object
Discharge_Year                           int64
CCS_Diagnosis_Code                       int64
CCS_Diagnosis_Description               object
CCS_Procedure_Code                       int64
CCS_Procedure_Description               object
APR_DRG_Code                             int64
APR_DRG_Description                     object
APR_MDC_Code                             int64
APR_MDC_Description                     object
APR_Severity_of_Illness_Code             int64
APR_Severity_of_Illness_Description     object
APR_Risk_of_Mortality                   object
APR_Medical_Surgical_Description        object
Payment_Typology_1                      object
Payment_Typology_2                      object
Payment_Typology_3                      object
Attending_Provider_License_Number      float64
Operating_Provider_License_Number      float64
Other_Provider_License_Number          float64
Birth_Weight                             int64
Abortion_Edit_Indicator                 object
Emergency_Department_Indicator          object
Total_Charges                          float64
Total_Costs                            float64
dtype: object

In [20]:
data.describe()

,Operating_Certificate_Number,Facility_Id,Length_of_Stay,Discharge_Year,CCS_Diagnosis_Code,CCS_Procedure_Code,APR_DRG_Code,APR_MDC_Code,APR_Severity_of_Illness_Code,Attending_Provider_License_Number,Operating_Provider_License_Number,Other_Provider_License_Number,Birth_Weight,Total_Charges,Total_Costs
count,2.343849e+06,2.343849e+06,2.346760e+06,2346760.0,2.346760e+06,2.346760e+06,2.346760e+06,2.346760e+06,2.346760e+06,2.343849e+06,1.733912e+06,7.133600e+04,2.346760e+06,2.346760e+06,2.346760e+06
mean,5.007196e+06,1.043335e+03,5.380333e+00,2015.0,1.905531e+02,1.127790e+02,4.181138e+02,1.042892e+01,2.010595e+00,2.176429e+06,2.528763e+06,1.297207e+07,3.264275e+02,4.320562e+04,1.598484e+04
std,2.259460e+06,7.134138e+02,7.358093e+00,0.0,1.596109e+02,8.893687e+01,2.413368e+02,5.923686e+00,8.973762e-01,1.201747e+07,1.290688e+07,2.991695e+07,1.000147e+03,8.043895e+04,3.238360e+04
min,1.010000e+05,1.000000e+00,0.000000e+00,2015.0,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,6.150000e+02,7.100000e+01,1.307000e+03,0.000000e+00,1.000000e-02,0.000000e+00
25%,2.951001e+06,5.410000e+02,2.000000e+00,2015.0,1.060000e+02,0.000000e+00,2.010000e+02,5.000000e+00,1.000000e+00,1.923180e+05,1.855150e+05,1.835760e+05,0.000000e+00,1.202705e+04,4.724148e+03
50%,5.907001e+06,1.099000e+03,3.000000e+00,2015.0,1.590000e+02,1.320000e+02,3.830000e+02,9.000000e+00,2.000000e+00,2.294950e+05,2.230620e+05,2.271450e+05,0.000000e+00,2.348088e+04,8.791390e+03
75%,7.002012e+06,1.450000e+03,6.000000e+00,2015.0,2.180000e+02,2.160000e+02,6.400000e+02,1.500000e+01,3.000000e+00,2.579130e+05,2.534160e+05,2.634160e+05,0.000000e+00,4.660665e+04,1.683467e+04
max,7.004010e+06,9.431000e+03,1.190000e+02,2015.0,9.170000e+02,9.990000e+02,9.560000e+02,2.500000e+01,4.000000e+00,9.100000e+07,9.100000e+07,9.060222e+07,9.900000e+03,7.248391e+06,5.236615e+06

In [21]:
data.Total_Costs.describe()

count    2.346760e+06
mean     1.598484e+04
std      3.238360e+04
min      0.000000e+00
25%      4.724148e+03
50%      8.791390e+03
75%      1.683467e+04
max      5.236615e+06
Name: Total_Costs, dtype: float64

In [23]:
data.loc[:,["Length_of_Stay","Total_Charges","Total_Costs","Birth_Weight"]].describe()

       Length_of_Stay  Total_Charges   Total_Costs  Birth_Weight
count    2.346760e+06   2.346760e+06  2.346760e+06  2.346760e+06
mean     5.380333e+00   4.320562e+04  1.598484e+04  3.264275e+02
std      7.358093e+00   8.043895e+04  3.238360e+04  1.000147e+03
min      0.000000e+00   1.000000e-02  0.000000e+00  0.000000e+00
25%      2.000000e+00   1.202705e+04  4.724148e+03  0.000000e+00
50%      3.000000e+00   2.348088e+04  8.791390e+03  0.000000e+00
75%      6.000000e+00   4.660665e+04  1.683467e+04  0.000000e+00
max      1.190000e+02   7.248391e+06  5.236615e+06  9.900000e+03

In [24]:
#capturing missing values in the data

data.isnull().sum()

Health_Service_Area                       2911
Hospital_County                           2911
Operating_Certificate_Number              2911
Facility_Id                               2911
Facility_Name                                0
Age_Group                                    0
Zip_Code_-_3_digits                       4427
Gender                                       0
Race                                         0
Ethnicity                                    0
Length_of_Stay                               0
Type_of_Admission                            0
Patient_Disposition                          0
Discharge_Year                               0
CCS_Diagnosis_Code                           0
CCS_Diagnosis_Description                    0
CCS_Procedure_Code                           0
CCS_Procedure_Description                    0
APR_DRG_Code                                 0
APR_DRG_Description                          0
APR_MDC_Code                                 0
APR_MDC_Description                          0
APR_Severity_of_Illness_Code                 0
APR_Severity_of_Illness_Description        112
APR_Risk_of_Mortality                      112
APR_Medical_Surgical_Description             0
Payment_Typology_1                           0
Payment_Typology_2                      762346
Payment_Typology_3                     1645570
Attending_Provider_License_Number         2911
Operating_Provider_License_Number       612848
Other_Provider_License_Number          2275424
Birth_Weight                                 0
Abortion_Edit_Indicator                      0
Emergency_Department_Indicator               0
Total_Charges                                0
Total_Costs                                  0
dtype: int64

In [26]:
print(data.APR_Risk_of_Mortality.unique())

#printing out the unique values in the Risk of Mortality attribute

['Minor' 'Moderate' 'Major' 'Extreme' nan]

In [27]:
data.Age_Group.unique()

array(['50 to 69', '18 to 29', '30 to 49', '70 or Older', '0 to 17'],
      dtype=object)

In [28]:
data.Type_of_Admission.unique()

array(['Emergency', 'Urgent', 'Elective', 'Not Available', 'Trauma',
       'Newborn'], dtype=object)

In [29]:
data.Hospital_County.unique()

array(['Cattaraugus', 'Chautauqua', 'Erie', 'Genesee', 'Niagara',
       'Chemung', 'Livingston', 'Monroe', nan, 'Ontario', 'Steuben',
       'Wayne', 'Yates', 'Oswego', 'Broome', 'Cayuga', 'Chenango',
       'Cortland', 'Herkimer', 'Jefferson', 'Lewis', 'Madison', 'Oneida',
       'Onondaga', 'St Lawrence', 'Tompkins', 'Albany', 'Clinton',
       'Columbia', 'Franklin', 'Fulton', 'Montgomery', 'Otsego',
       'Rensselaer', 'Saratoga', 'Schenectady', 'Warren', 'Dutchess',
       'Orange', 'Putnam', 'Rockland', 'Sullivan', 'Ulster',
       'Westchester', 'Bronx', 'Kings', 'Manhattan', 'Richmond', 'Queens',
       'Suffolk', 'Nassau', 'Allegany', 'Wyoming', 'Orleans', 'Schuyler',
       'Delaware', 'Essex', 'Schoharie'], dtype=object)

In [30]:
len(data.Hospital_County.unique())

58

In [31]:
data.APR_MDC_Description.unique()

array(['Mental Diseases and Disorders',
       'Diseases and Disorders of the Respiratory System',
       'Diseases and Disorders of the Nervous System',
       'Diseases and Disorders of the Circulatory System',
       'Diseases and Disorders of the Kidney and Urinary Tract',
       'Diseases and Disorders of the Digestive System',
       'Endocrine, Nutritional and Metabolic Diseases and Disorders',
       'Pregnancy, Childbirth and the Puerperium', 'Burns',
       'Infectious and Parasitic Diseases, Systemic or Unspecified Sites',
       'Diseases and Disorders of the Skin, Subcutaneous Tissue and Breast',
       'Human Immunodeficiency Virus Infections',
       'Diseases and Disorders of the Hepatobiliary System and Pancreas',
       'Alcohol/Drug Use and Alcohol/Drug Induced Organic Mental Disorders',
       'Multiple Significant Trauma',
       'Newborns and Other Neonates with Conditions Originating in the Perinatal Period',
       'Lymphatic, Hematopoietic, Other Malignancies, Chemotherapy and Radiotherapy',
       'Diseases and Disorders of the Eye', 'Pre-MDC or Ungroupable',
       'Diseases and Disorders of the Female Reproductive System',
       'Ear, Nose, Mouth, Throat and Craniofacial Diseases and Disorders',
       'Rehabilitation, Aftercare, Other Factors Influencing Health Status and Other Health Service Contacts',
       'Diseases and Disorders of the Musculoskeletal System and Conn Tissue',
       'Poisonings, Toxic Effects, Other Injuries and Other Complications of Treatment',
       'Diseases and Disorders of Blood, Blood Forming Organs and Immunological Disorders',
       'Diseases and Disorders of the Male Reproductive System'],
      dtype=object)

In [34]:
len(data.APR_MDC_Description.unique())

26

In [35]:
# grouping features by data numbers

data.Type_of_Admission.value_counts(dropna=False)

# inference: most of the cases are emergency cases and there are no missing values!

Emergency        1488031
Elective          447280
Newborn           227100
Urgent            176782
Trauma              6394
Not Available       1173
Name: Type_of_Admission, dtype: int64

In [36]:
# age groups

data.Age_Group.value_counts(dropna=False)

50 to 69       645004
70 or Older    643488
30 to 49       458457
0 to 17        352588
18 to 29       247223
Name: Age_Group, dtype: int64

In [37]:
# most of the patients are above 50 years old

In [38]:
# finding out the number of cases who have undergone abortion or not

data.Abortion_Edit_Indicator.value_counts(dropna=False)

N    2343849
Y       2911
Name: Abortion_Edit_Indicator, dtype: int64

In [40]:
data.APR_Risk_of_Mortality.value_counts()

Minor       1389588
Moderate     500069
Major        335242
Extreme      121749
Name: APR_Risk_of_Mortality, dtype: int64

In [72]:
# the attribute Abortion Edit Indicator is a flag to indicate whether there was an abortion or not. This flag is 
# only applicable to new borns

# so we need to filter records where the Type of Admission is "Newborns"

# how to filter records in Python:
    
# need to ask!!!!!
data_newborns = data.Type_of_Admission == "Newborn"
print("Total newborns :", data_newborns.count())


data[data_newborns].shape
data.shape

Total newborns : 2346760

(2346760, 37)

In [61]:
data[data_newborns].head()

,Health_Service_Area,Hospital_County,Operating_Certificate_Number,Facility_Id,Facility_Name,Age_Group,Zip_Code_-_3_digits,Gender,Race,Ethnicity,...,Payment_Typology_2,Payment_Typology_3,Attending_Provider_License_Number,Operating_Provider_License_Number,Other_Provider_License_Number,Birth_Weight,Abortion_Edit_Indicator,Emergency_Department_Indicator,Total_Charges,Total_Costs
0,Western NY,Cattaraugus,401001.0,66.0,Olean General Hospital,50 to 69,147,F,White,Not Span/Hispanic,...,NaN,NaN,267162.0,NaN,NaN,0,N,Y,5620.00,4561.28
1,Western NY,Cattaraugus,401001.0,66.0,Olean General Hospital,18 to 29,147,F,White,Not Span/Hispanic,...,NaN,NaN,275408.0,NaN,NaN,0,N,Y,7404.18,6933.94
2,Western NY,Cattaraugus,401001.0,66.0,Olean General Hospital,30 to 49,147,M,White,Not Span/Hispanic,...,NaN,NaN,267162.0,NaN,NaN,0,N,Y,7931.28,7154.85
3,Western NY,Cattaraugus,401001.0,66.0,Olean General Hospital,50 to 69,147,F,White,Not Span/Hispanic,...,NaN,NaN,271326.0,NaN,NaN,0,N,Y,11304.44,4584.11
4,Western NY,Chautauqua,602001.0,103.0,Woman's Christian Association,50 to 69,147,M,White,Not Span/Hispanic,...,NaN,NaN,243034.0,NaN,NaN,0,N,Y,8330.50,4361.74

In [66]:
len(data[data['Type_of_Admission']=='Newborn'])

2346760

In [67]:
len(data)

2346760

In [70]:
# Grouping of risk of mortality values

data.APR_Risk_of_Mortality.value_counts(dropna=False)

Minor       1389588
Moderate     500069
Major        335242
Extreme      121749
NaN             112
Name: APR_Risk_of_Mortality, dtype: int64